.modal {
  display: block !important;
  visibility: hidden;
}

.modal-show {
  visibility:visible;
  background-color: rgba(169, 169, 169, 0.8);
} 

.modal-content  {
  opacity: 0; 
}

.modal-show .modal-content  {
  opacity: 1; 
  width: 120%;
  margin-left: -10%;
}

.modal-header {
  margin-left: auto;
}